<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Smooth" value="20" />
    <!--眼動平滑程度 越大越平滑-->
    <add key="GameRandom" value="6000" />
    <!--遊戲開始前貓咪跑的時間 (單位:毫秒)-->
    <add key="GameGaze" value="2000" />
    <!--遊戲區:視線停留判斷時間-->
    <add key="GameLeave" value="1000" />
    <!--遊戲區:視線移開判斷時間-->
    <add key="InteractionGaze" value="300" />
    <!--互動區:視線停留判斷時間-->
    <add key="InteractionLeave" value="1000" />
    <!--互動區:視線移開判斷時間-->
    <add key="SentenceGaze" value="500" />
    <!--句子區:視線停留判斷時間-->
    <add key="SentenceLeave" value="1500" />
    <!--句子區:視線移開判斷時間-->
    <add key="TorFGaze" value="2000" />
    <!--是非題區:視線停留判斷時間-->
    <add key="TorFLeave" value="500" />
    <!--是非題區:視線移開判斷時間-->
    <add key="TutorialGaze" value="1500" />
    <!--影片區:視線停留判斷時間 (暫時沒有使用)-->
    <add key="TutorialLeave" value="2000" />
    <!--影片區:視線移開判斷時間 (暫時沒有使用)-->
    <add key="ellipseSize" value="100" />
    <!--眼動點的起始大小-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>